<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../static/download-icon.ico">
    <title>YT-Downloader</title>
</head>
<body>
    <form action="/" method="post">
        <div class="position-absolute top-50 start-50 translate-middle w-50" id="input1">
            
            <input type="url" name="url" class="form-control padding-left=20" id="urls" placeholder="URL" autofocus autocomplete="off" name="url">
            
            <div class="form-check form-switch" id="input2">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="checkbox" checked>
                <label class="form-check-label" style="width: 50%; margin: auto; text-align: center;" for="flexSwitchCheckChecked">mp4/mp3</label>
            </div>
            
            <button class="btn border mt-3" type="submit" id="submit1">Submit</button>
            
            
        </div>
        
    
    </form>
    

</body>
<style>
    body {
        background-color: azure;
        
    }
    #input1 {
        
        padding: 5%;
    }
    #input2 {
        margin: auto;
        width: 10%;
        padding: 3% 0 0 0;
    }

    #submit1 {
        margin: auto;
        margin-left: 43%;

    }


</style>
</html>

